{% extends "base_generic.html" %}

{% block content %}
<h1>Welcome to JLTRC library</h1>

<p>Welcome to <em>JLTRC</em>, a very basic Django Application, Learnning from the Mozilla Developer Network.</p>


<br>
<div>
{% load static %}
<img src="{% static "images/header.jpg" %}" alt="Header Image"/>
</div>

<br>

<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


Hit counter: {{ num_visits }}

{% endblock %}